<form>
    <div class="form-group ">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" [(ngModel)] = "Email"  name = "Email"  required  minlength="3" maxlength="15" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <div class ="alert alert-danger" *ngIf =" !Email.valid &&!Email.touched ">Email required</div>
      
    </div>
   
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" required ="required" [(ngModel)] ="password" name = "password" minlength="5"  maxlength="20" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <div class ="alert alert-danger" *ngIf ="password.touched && !password.vaild">password</div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br><br>